### Advanced Machine Learning

# Home Exercise #2

Assignment Due: 18/04/21 23:59

Jonathan Schler

In [1]:
student1Name="" # student1 name here
student1ID="" # student1 ID here


student2Name="" # student2 name here
student2ID="" # student2 ID here

In [75]:
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

The goal of this homework is to provide a realistic setting for a machine learning task. Therefore instructions will not specify the exact steps to carry out. Instead, it is part of theassignment to identify promising features, models and preprocessing methods and apply themas appropriate.

The overall goal is to predict whether a specific credit card transaction is fraudulent or not. Please use the data from this dataset provided on Kaggle here:https://www.kaggle.com/kartik2112/fraud-detection. The Kaggle page also contains a description of the dataset. You will use the train set for training the model and test set for validation.

You are free to manipulate the train dataset as you think is appropriate. You do not have to use the wholedataset, you can subsample if you want. While the modelling process is likely iterative, please lay out the  following tasks in the given order to facilitate grading.

## Task 1 Identify Features
Assemble a dataset consisting of features and target (for example in a dataframe or in two arrays X and y). What features are relevant for the prediction task? What features should be excluded because they leak the target information? Show visualizations or statistics to support your selection

In [17]:
full_train_df = pd.read_csv("fraudTrain.csv")
full_test_df = pd.read_csv("fraudTest.csv")

In [69]:
full_train_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [25]:
### T R A I N data
X_train = full_train_df.copy()
Y_train = full_train_df['is_fraud']
del X_train['is_fraud']

In [27]:
### T E S T data
X_test = full_test_df.copy()
Y_test = full_test_df['is_fraud']
del X_test['is_fraud']

In [68]:
print(X_train.info())
print('-' * 100)
print("shape: ", X_train.shape)
print('-' * 100)
X_train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   gender                 1296675 non-null  int8
 7   street                 1296675 non-null  object
 8   city                   1296675 non-null  object
 9   state                  1296675 non-null  object
 10  zip                    1296675 non-null  int64
 11  lat                    1296675 non-null  float64
 12  long                   1296675 non-null  float64
 13  city_pop               1296675 non-null  int64
 14  job                    1296675 non-null  object
 15  dob                    1296675 non-null  object
 16  unix_time              1296675 non-null  int64
 17  merch_lat              1296675 non-null  float64
 18  merch_long             1296675 non-null  float64
dtypes: float64(5), int64(5), int8(1), object(8)
memory usage: 179.3+ MB
None
----------------------------------------------------------------------------------------------------
shape:  (1296675, 19)
----------------------------------------------------------------------------------------------------

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.525513e-01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01
std,3.743180e+05,1.308806e+18,1.603160e+02,4.977437e-01,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01
min,0.000000e+00,6.041621e+10,1.000000e+00,0.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02
25%,3.241685e+05,1.800429e+14,9.650000e+00,0.000000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01
50%,6.483370e+05,3.521417e+15,4.752000e+01,0.000000e+00,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01
75%,9.725055e+05,4.642255e+15,8.314000e+01,1.000000e+00,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01
max,1.296674e+06,4.992346e+18,2.894890e+04,1.000000e+00,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01

In [26]:
print('Share of fraudulent activity: {}%'.format(100*(len(Y_train.loc[Y_train == 1]) / float(len(Y_train))))) 
print('Share of non fraudulent activity: {}%'.format(100*(len(Y_train.loc[Y_train == 0]) / float(len(Y_train)))))

Share of fraudulent activity: 0.5788651743883394%
Share of non fraudulent activity: 99.42113482561166%

In [63]:
### assuming that some of the data is not relevant
to_drop = ['first', 'last', 'trans_num']
X_train = X_train.drop(to_drop, axis=1)
X_test = X_test.drop(to_drop, axis=1)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   gender                 1296675 non-null  object
 7   street                 1296675 non-null  object
 8   city                   1296675 non-null  object
 9   state                  1296675 non-null  object
 10  zip                    1296675 non-null  int64
 11  lat                    1296675 non-null  float64
 12  long                   1296675 non-null  float64
 13  city_pop               1296675 non-null  int64
 14  job                    1296675 non-null  object
 15  dob                    1296675 non-null  object
 16  unix_time              1296675 non-null  int64
 17  merch_lat              1296675 non-null  float64
 18  merch_long             1296675 non-null  float64
dtypes: float64(5), int64(5), object(9)
memory usage: 188.0+ MB

In [ ]:
# sns.jointplot(x='is_fraud', y='category', data= full_train_df,)
fraud = full_train_df[full_train_df['is_fraud']==1]
normal = full_train_df[full_train_df['is_fraud']==0]

sns.set_theme(style="darkgrid")
sns.displot(
    full_train_df, x="amt", col="sex", row="is_fraud",
    binwidth=3, height=3, facet_kws=dict(margin_titles=True),
)

In [73]:
print("Looking on categorical data and try to identify which can be transformed to numeric categorical")
print("trans_date_trans_time", X_test['trans_date_trans_time'].nunique()) # too much, we need to modify it
print("merchant", X_test['merchant'].nunique())
print("category", X_test['category'].nunique())
print("gender", X_test['gender'].nunique())
print("city", X_test['city'].nunique())
print("state", X_test['state'].nunique())
print("job", X_test['job'].nunique())
print("dob", X_test['dob'].nunique())

X_train.gender = X_train.gender.astype('category').cat.codes
X_test.gender = X_test.gender.astype('category').cat.codes

X_train.state = X_train.state.astype('category').cat.codes
X_test.state = X_test.state.astype('category').cat.codes

X_train.job = X_train.job.astype('category').cat.codes
X_test.job = X_test.job.astype('category').cat.codes

X_train.category = X_train.category.astype('category').cat.codes
X_test.category = X_test.category.astype('category').cat.codes

X_train.merchant = X_train.merchant.astype('category').cat.codes
X_test.merchant = X_test.merchant.astype('category').cat.codes

X_train.merchant = X_train.merchant.astype('category').cat.codes
X_test.merchant = X_test.merchant.astype('category').cat.codes

X_train.dob = X_train.dob.astype('category').cat.codes
X_test.dob = X_test.dob.astype('category').cat.codes

Looking on categorical data and try to identify which can be transformed to numeric categorical
trans_date_trans_time 544760
merchant 693
category 14
gender 2
city 849
state 50
job 478
dob 910

In [74]:
X_train.info()
print("-" * 100)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  int16
 4   category               1296675 non-null  int8
 5   amt                    1296675 non-null  float64
 6   gender                 1296675 non-null  int8
 7   street                 1296675 non-null  object
 8   city                   1296675 non-null  object
 9   state                  1296675 non-null  int8
 10  zip                    1296675 non-null  int64
 11  lat                    1296675 non-null  float64
 12  long                   1296675 non-null  float64
 13  city_pop               1296675 non-null  int64
 14  job                    1296675 non-null  int16
 15  dob                    1296675 non-null  int16
 16  unix_time              1296675 non-null  int64
 17  merch_lat              1296675 non-null  float64
 18  merch_long             1296675 non-null  float64
dtypes: float64(5), int16(3), int64(5), int8(3), object(3)
memory usage: 139.7+ MB
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  int16
 4   category               555719 non-null  int8
 5   amt                    555719 non-null  float64
 6   gender                 555719 non-null  int8
 7   street                 555719 non-null  object
 8   city                   555719 non-null  object
 9   state                  555719 non-null  int8
 10  zip                    555719 non-null  int64
 11  lat                    555719 non-null  float64
 12  long                   555719 non-null  float64
 13  city_pop               555719 non-null  int64
 14  job                    555719 non-null  int16
 15  dob                    555719 non-null  int16
 16  unix_time              555719 non-null  int64
 17  merch_lat              555719 non-null  float64
 18  merch_long             555719 non-null  float64
dtypes: float64(5), int16(3), int64(5), int8(3), object(3)
memory usage: 59.9+ MB

In [39]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LogisticRegression

scores = cross_validate(LogisticRegression(),
                        X_train, Y_train, cv=10,
                        scoring=('roc_auc', 'average_precision'))
scores['test_roc_auc'].mean(), scores['test_average_precision'].mean()

(nan, nan)

In [41]:
from sklearn.ensemble import RandomForestClassifier
scores = cross_validate(RandomForestClassifier(),
                        X_train, Y_train, cv=10,
                        scoring=('roc_auc', 'average_precision'))
scores['test_roc_auc'].mean(), scores['test_average_precision'].mean()

(nan, nan)

## Task 2 Preprocessing and Baseline Model

Create a simple minimum viable model by doing an initial selection of features, doing appropriate preprocessing and cross-validating a linear model. Feel free to generously exclude features or do simplified preprocessing for this task. As mentioned before, you don’t need to validate the model on the whole dataset

## Task 3 Feature Engineering
Create derived features and perform more in-depth preprocessing and data cleaning. Does this improve your model? In particular, think about how to encode categorical variables.

## Task 4 Any model
Use any classification model we discussed (trees, forests, boosting, SVM) to improve your result. You can (and probably should) change your preprocessing and feature engineering to be suitable for the model. You are not required to try all of these models. Tune parameters as appropriate

## Task 5 Feature Selections
Identify features that are important for your best model. Which features are most influential,and which features could be removed without decrease in performance? Does removing irrelevant features make your model better?

## Task 6 An explainable model
Can you create an “explainable” model that is nearly as good as your best model? An explainable model should be small enough to be easily inspected - say a linear model withfew enough coefficients that you can reasonable look at all of them, or a tree with a smallnumber of leafs etc.